.categoriesFormContainer {
  text-align: center;
  margin: 2rem;
  background-color: #251e18;
  border-radius: 5px;
  padding: 1rem 1rem 3rem 1rem;
  box-shadow: 2px 4px 8px 0 #aeaeb233;
  /* max-width: 600px; */
}
.categoriesFormContainer select {
  font-size: 1.2rem;
  border: none;
  padding: 0.5rem;
  border-radius: 5px;
  background-color: #f5f5fa;
  color: #251e18;
  margin-bottom: 2rem;
}