.channelCard {
  box-shadow: 0 4px 8px 0 #00000033;
  transition: 0.3s;
  width: 300px;
  height: 70px;
  margin: 0.5rem;
  background-color: #251e18;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  overflow: hidden;
}

.channelCard:hover {
  box-shadow: 0 8px 16px 0 #f75A0d33;
}
.channelCard.disable {
  filter: brightness(0.5);
  cursor: no-drop;
}
.channelCard.disable:hover {
  box-shadow: none;
}
.imgContainer {
  width: 70px;
  height: 70px;
  object-fit: contain;
}
.imgContainer img {
  max-width: 100%;
  border-radius: 5px 0 0 5px;
}
.contentContainer {
  margin-left: 0.5rem;
  padding-top: 0.6rem;
  max-width: 190px;
}
.type {
  font-size: 0.8rem;
  font-style: italic;
}
.channelName {
  font-size: 1.3rem;
  font-weight: 500;
  margin: 0;
}
@media screen and (min-width: 576px) {
  .channelCard {
    height: 90px;
    /* width: 260px; */
  }
  .imgContainer {
    width: 90px;
    height: 90px;
  }
}
@media screen and (min-width: 768px) {
  .channelCard {
    width: 290px;
  }
}
@media screen and (min-width: 992px) {

}
@media screen and (min-width: 1200px) {

}