.channelPageContainer {
  position: relative;
  background-color: #251e1879;
  box-shadow: 2px 4px 8px 0 #aeaeb233;
  border-radius: 5px;
  padding: 1rem;
  margin: 3rem 0.5rem;
}
.pageCompContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding-top: 1rem;
}

.tagline {
  text-align: center;
  font-style: italic;
  max-width: 700px;
  margin: 1rem auto;
  line-height: 1.5rem;
}
.imgWrapper img {
  width: 100px;
  height: 100px;
}

@media screen and (min-width: 576px){
  .heading {
    font-size: 2.8rem;
  }
}
@media screen and (min-width: 1200px){
  .channelPageContainer {
    max-width: 1100px;
    margin: 3rem auto;
  }
}

/* * COLOR CODES! */
/*  Nearly black:   #251e18
    Dark Grey:      #3d362b
    Darker green    #3a5e27
    Lighter green   #859448
    Orange          #f75A0d
    Red orange      #f34508

    Text colors:
    Standard: Nearly white  #f5f5fa
    Disabled: Greyish:      #aeaeb2
*/