.channelScheduleContainer {
  max-width: 600px;
  margin: 2rem 1rem;
  max-height: 150vh;
  overflow-y: scroll;
  padding: 0 1rem;
}
.datePickWrapper {
  text-align: right;
  margin-bottom: 2rem;
}
.datePickWrapper label {
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
  display: inline-block;
}
.datePickWrapper input {
  font-size: 1rem;
  padding: 0.2rem;
}
.programContainer {
  border-bottom: 1px solid #aeaeb2;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}
.favouriteIconWrapper {
  text-align: right;
  margin-left: 1rem;
}
.programContainer span.programName {
  cursor: pointer;
}

span.desc {
  font-size: 0.8rem;
  color: #aeaeb2;
}